<nav></nav>
<section class="container">
    <div class="row">
          <div class="grid-4">
              <p>test</p>
          </div>
          <div class="grid-4">
              <p>test</p>
          </div>
          <div class="grid-4">
              <p>test</p>
          </div>
    </div>
    <div class="row">
          <div class="grid-4">
              <p>test</p>
          </div>
          <div class="grid-4">
              <p>test</p>
          </div>
          <div class="grid-4">
              <p>test</p>
          </div>
    </div>
</section>